// _Variables.scss

// media
$media-breakpoint-sm: 600px;
$media-breakpoint-lg: 1200px;

// colors
$primary-dark: #0d3052;
$secondary-dark: #7f5d0b; // #431c5d;
$primary-light: #8d9aa7;
$secondary-light: #d5bb7c;