// App.scss

@import 'Variables';

.App {
  min-height: 100vh;
  min-width: $app-min-width;
  background: center / cover no-repeat url(../images/app-background.jpg);
  
  p {
    padding-bottom: 1rem;
  }

  // heading of a route page
  h2 {
    padding-bottom: 1.5rem;
    font-size: 1.8rem;
    color: $primary-dark;
  }

  // heading of subchapter
  h3 {
    padding-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: $primary-normal;
  }

  // department title
  h4 {
    color: $secondary-light;
    font-weight: 500;
    font-size: 1.1rem;
    padding-bottom: .5rem;
  }

  // staff title
  h5 {
    font-weight: 500;
    color: $secondary-dark;
  }

  // task title
  h6 {
    font-weight: 500;
  }

  button {
    @extend .interactive;
    outline: none;
    padding: 10px 20px;
    margin: 0 10px 10px 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    color: $secondary-light;
    @include button-gradient($primary-normal, $primary-dark);
  }

  input {
    width: 100%;
    outline: none;
    padding: 10px;
    border: 1px solid $primary-normal;
    border-radius: 5px;
    background-color: #fffa;
    font-size: 1rem;
  }

  // highlight a block with warning
  .warning {
    box-shadow: 0 0 3px $warning-color;
  }

  // clickable element
  .interactive {
    cursor: pointer;
    box-shadow: 0 3px 4px -2px #0008;
    &:hover {
      background: $hover-color;
      transition: all .5s;
    }
  }

  // selected element
  .selected {
    color: $primary-light;
    background-color: $primary-dark;
  }
  
}
