// InterfaceReset.scss

@import 'Variables';

.InterfaceReset {
  margin: 5px 0;
  text-align: right;

  button {
    color: $warning-color;
    background: transparent;
    border: 2px solid $warning-color;
  }

}