// ModelInterface.scss

@import 'Variables';

.ModelInterface {
  padding: 10px;
  background-color: lightblue;

  h3 {
    text-align: left;
  }

  button {
    outline: none;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
  }

  input {
    width: 100%;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
  }

  .jobType {
    padding: 10px;
    list-style: none;

    li {
      padding: 10px;
      border: 1px ridge #aaa;
      cursor: pointer;
      &:hover {
        background-color: #aaaa;
      }
    }
  }

  .selected {
    background-color: #aaa;
  }

  .inputBlock {
    padding: 10px;
  }

  .inputError {
    outline: 2px solid red;
    &:after {
      content: "The name is empty or already exists";
      color: red;
      padding: 10px;
    }
  }

}