// RouteContainer.scss

@import 'Variables';

.RouteContainer {
  margin: 0;
  padding: 5vw 2px;
  background-color: #fff;
  background-color: #fffc;
  box-shadow: 0 0 5px 2px #0005;
}

@media screen and (min-width: $media-breakpoint-sm) {

  .RouteContainer {
    margin: 0 5vw;
    padding: 5vw;  
  }

}